<div class="modal-header">
  <h4 class="modal-title pull-left" [translate]="'book'"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="label"><span class="title">{{'label' | translate}}</span><span class="desc">{{book.name}}</span></p>
  <p class="label"><span class="title">{{'author' | translate}}</span><span class="desc">{{book.author}}</span>
  </p>
  <p class="label"><span class="title">{{'creation_date' | translate}}</span><span
    class="desc">{{book.creationDate | amDateFormat: 'DD.MM.YYYY HH:mm'}}</span></p>
  <p class="label"><span class="title">{{'description' | translate}}</span><span
    class="desc">{{book.description}}</span></p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [translate]="'ok'" (click)="close()"></button>
  </div>
