<div class="app_row">
  <div class="app_column flex1">
    <p class="label"><span class="title">{{'label' | translate}}</span><span class="desc">{{title}}</span></p>
    <p class="label"><span class="title">{{'author' | translate}}</span><span class="desc">{{author}}</span></p>
  </div>
  <div class="app_column align_right">
    <div class="app_row">
      <button type="button" class="btn btn-outline-primary btn-sm"
              (click)="showBook.next(bookId)">{{'show' | translate}}</button>
      <button type="button" class="btn btn-outline-primary btn-sm"
              (click)="editBook.next(bookId)">{{ 'edit' | translate}}</button>
      <button type="button" class="btn btn-outline-primary btn-sm"
              (click)="deleteBook.next(bookId)">{{'delete' | translate}}</button>
    </div>
    <p class="label"><span class="title">{{'creation_date' | translate}}</span><span
      class="desc">{{creationDate | amDateFormat: 'DD.MM.YYYY HH:mm'}}</span></p>
  </div>
</div>
<p class="label"><span class="title">{{'description' | translate}}</span><span class="desc">{{description}}</span></p>
