<div class="app_row align_right">
  <button type="button" class="btn btn-outline-primary btn-sm"
          (click)="showChat.next(chatId)">{{'show' | translate}}</button>
  <button *ngIf="isMainChat" type="button" class="btn btn-outline-primary btn-sm"
          (click)="editChat.next(chatId)">{{ 'edit' | translate}}</button>
  <button *ngIf="isMainChat" type="button" class="btn btn-outline-primary btn-sm"
          (click)="deleteChat.next(chatId)">{{'delete' | translate}}</button>
</div>
<p class="label"><span class="title">{{'label' | translate}}</span><span class="desc">{{name}}</span></p>
<p class="label"><span class="title">{{'author' | translate}}</span><span class="desc">{{creatorName}}</span></p>
