<div class="modal-header">
    <h4 class="modal-title pull-left" [translate]="'settings'"></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [formGroup]="form">
  <div class="form-group">
    <label for="loginId" [translate]="'login'"></label>
    <input type="text" class="form-control" id="loginId" formControlName="login">
    <div *ngIf="form.get('login').dirty && form.get('login').errors">
      <small *ngIf="form.get('login').errors['required']" class="form-text text-muted"
        [translate]="'required_field'"></small>
      <small *ngIf="form.get('login').errors['login_is_busy']" class="form-text text-muted"
        [translate]="'login_is_busy'"></small>
    </div>
  </div>
  <div class="form-group">
    <label for="passwordId" [translate]="'password'"></label>
    <input type="password" class="form-control" id="passwordId" formControlName="password">
    <div *ngIf="form.get('password').dirty && form.get('password').errors">
      <small *ngIf="form.get('password').errors['required']" class="form-text text-muted"
        [translate]="'required_field'"></small>
    </div>
  </div>
  <div class="form-group">
    <label for="password_confirm" [translate]="'password_confirm'"></label>
    <input type="password" class="form-control" id="password_confirm" formControlName="confirmed_password">
    <div *ngIf="form.get('confirmed_password').dirty && form.get('confirmed_password').errors">
      <small *ngIf="form.get('confirmed_password').errors['required']" class="form-text text-muted"
        [translate]="'required_field'"></small>
      <small *ngIf="form.get('confirmed_password').errors['confirmError']" class="form-text text-muted"
        [translate]="'confirmed_password'"></small>
    </div>
  </div>
  <alert *ngIf="showSuccess"
  [type]="'success'"
  [dismissOnTimeout]="2000"
  (onClosed)="close()" >{{successProfile}}</alert>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()" [translate]="'cancel'"></button>
  <button type="button" class="btn btn-primary" [translate]="'ok'" [disabled]="!form.valid || showSuccess" (click)="updateProfile()"></button>
</div>
