:host{
    .content{
        flex-direction: row;
    }
    .brand{
        display: flex;
        flex-direction: row;
    }

    @media screen and (max-width: 991px) {
        .content{
            flex-direction: column;
        }
        .navbar-brand{
            flex: 1;
        }
    }
}