
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="content">
    <div class="brand">
        <a class="navbar-brand" [routerLink]="'/'" [translate]="'title'"></a>

        <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
      <div class="collapse navbar-collapse" [ngClass]="{'show': navBarOpen}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'books'" [translate]="'books'"
               *ngIf="!disabledLink"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'chats'" [translate]="'chats'"
               *ngIf="!disabledLink"></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="btn-group" dropdown>
              <a id="navbarDropdown" dropdownToggle class="nav-link dropdown-toggle"
                aria-controls="dropdown-basic">
                <span  [translate]="'lang'"></span>
                <span class="caret"></span>
              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-left"
                role="menu" aria-labelledby="button-basic">
                <li role="menuitem">
                    <a class="dropdown-item" [translate]="'ru'" (click)="setLang('ru')"></a>
                </li>
                <li class="dropdown-divider"></li>
                <li role="menuitem">
                    <a class="dropdown-item" [translate]="'en'" (click)="setLang('en')"></a>
                </li>
              </ul>
            </li>

            <li class="btn-group" dropdown  *ngIf="disabledLink">
              <a id="navbarDropdown" dropdownToggle class="nav-link dropdown-toggle"
                aria-controls="dropdown-basic">
                <span  [translate]="'enter'"></span>
                <span class="caret"></span>
              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-left"
                role="menu" aria-labelledby="button-basic">
                <li role="menuitem">
                    <a class="dropdown-item" [translate]="'signIn'" (click)="openSignIn()"></a>
                </li>
                <li class="dropdown-divider"></li>
                <li role="menuitem">
                    <a class="dropdown-item" [translate]="'signUp'" (click)="openSignUp()"></a>
                </li>
              </ul>
            </li>

            <li class="btn-group" dropdown *ngIf="!disabledLink">
              <a id="navbarDropdown" dropdownToggle class="nav-link dropdown-toggle"
                aria-controls="dropdown-basic">
                <span >{{'hello' | translate}} {{auth.login | async}}</span>
                <span class="caret"></span>
              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-left"
                role="menu" aria-labelledby="button-basic">
                <li role="menuitem">
                    <a class="dropdown-item" [translate]="'settings'" (click)="openProfile()"></a>
                </li>
                <li class="dropdown-divider"></li>
                <li role="menuitem">
                    <a class="dropdown-item" [translate]="'signOut'" (click)="signOut()"></a>
                </li>
              </ul>
            </li>
        </ul>
      </div>
  </div>
</nav>
