:host{
  .label .title {
    width: auto;
  }
  .label{
    margin: 0px 0px 2px 0px;
  }
  .area{
    min-height: 100px;
    max-height: 200px;
    border: 1px solid #575757;
    overflow-y: scroll;
    .message{
      padding: 5px;
      border: 1px solid #e3e3e3;
      margin: 2px;
    }
    .is_main{
      background-color: #15fcff;
    }
  }
}
