<div class="modal-header">
  <h4 class="modal-title pull-left" [translate]="'chat'"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="label"><span class="title">{{'users_count' | translate}}</span>:&nbsp;<span
    class="desc">{{countUsers}}</span></p>

  <div class="area"  #scrollContainer (scroll)="onScroll($event)">
    <div class="message" *ngFor="let m of messages" [ngClass]="{'is_main': isMainMessage(m.creatorId)}">
      <button type="button" class="close pull-right" aria-label="Close"
              *ngIf="isMainMessage(m.creatorId)"
              (click)="deleteMessageServer(m.chatMessageId)">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="label"><span class="title">{{'author' | translate}}</span>:&nbsp;<span
        class="desc">{{m.creatorName}}</span></p>
      <p class="label"><span class="desc">{{m.message}}</span></p>
    </div>
  </div>

  <div class="form-group">
    <label for="messageid" [translate]="'press_enter'"></label>
    <textarea id="messageid" type="text" class="form-control" [(ngModel)]="message"
              (keyup.enter)="addMessageServer()"></textarea>
  </div>
</div>
<alert *ngIf="showChatDeleted"
       [type]="'danger'"
       [dismissOnTimeout]="2000"
       (onClosed)="close()">{{'chat_have_deleted' | translate}}</alert>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [translate]="'exit'" (click)="close()"></button>
</div>
