<div class="modal-header">
  <h4 class="modal-title pull-left" [translate]="'attention'"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{text | translate}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [translate]="'ok'"  (click)="close()"></button>
</div>
