<div class="modal-header">
  <h4 class="modal-title pull-left" [translate]="'authorization'"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="form">
  <div class="form-group">
    <label for="loginid" [translate]="'login'"></label>
    <input id="loginid" type="text" class="form-control" formControlName="login">
    <div *ngIf="form.get('login').dirty && form.get('login').errors">
      <small *ngIf="form.get('login').errors['required']" class="form-text text-muted"
        [translate]="'required_field'"></small>
    </div>
  </div>
  <div class="form-group">
    <label for="passwordid" [translate]="'password'"></label>
    <input type="password" class="form-control" id="passwordid" formControlName="password">
    <div *ngIf="form.get('password').dirty && form.get('password').errors">
      <small *ngIf="form.get('password').errors['required']" class="form-text text-muted"
        [translate]="'required_field'"></small>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()" [translate]="'cancel'"></button>
  <button type="button" class="btn btn-primary" [translate]="'ok'" [disabled]="!form.valid" (click)="signIn()"></button>
</div>