<div class="modal-header">
  <h4 class="modal-title pull-left" [translate]="'add'"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="form">
  <div class="form-group">
    <label for="nameid" [translate]="'label'"></label>
    <input id="nameid" type="text" class="form-control" formControlName="name">
    <div *ngIf="form.get('name').dirty && form.get('name').errors">
      <small *ngIf="form.get('name').errors['required']" class="form-text text-muted"
             [translate]="'required_field'"></small>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()" [translate]="'cancel'"></button>
  <button type="button" class="btn btn-primary" [translate]="'ok'" [disabled]="!form.valid" (click)="save()"></button>
</div>
