<div class="books">
  <button type="button" class="btn btn-primary margin10" (click)="addBook()">{{'add' | translate}}</button>
  <app-book-item *ngFor="let b of books"
                 [title]="b.name"
                 [author]="b.author"
                 [description]="b.description"
                 [bookId]="b.bookId"
                 [creationDate]="b.creationDate"

                 (deleteBook)="deleteBook($event)"
                 (showBook)="showBook($event)"
                 (editBook)="editBook($event)"
  ></app-book-item>
</div>
<div class="paginator">
  <pagination [boundaryLinks]="true"
              [totalItems]="count"
              [maxSize]="5"
              [itemsPerPage]="size"
              [(ngModel)]="page"
              [firstText]="'first' | translate"
              [previousText]="'previous' | translate"
              [nextText]="'next' | translate"
              [lastText]="'last' | translate"

              (pageChanged)="pageChanged($event)"
  ></pagination>
</div>
