@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
:host{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    p{
        font-size: 36px;
        animation: linear 2s fadein;
    }
}

