<div class="app_row center">
  <button type="button" class="btn btn-primary margin10" (click)="addChat()">{{'add' | translate}}</button>
  <div class="form-check is_main">
    <input class="form-check-input" type="checkbox" value="" id="checkid" [(ngModel)]="isMyChats" (change)="getCheckedChats()">
    <label class="form-check-label" for="checkid">
      {{'main_chats' | translate}}
    </label>
  </div>
</div>
<div class="chats row">
  <app-chat-item *ngFor="let c of chats"
                 [chatId]="c.chatId"
                 [name]="c.name"
                 [creatorId]="c.creatorId"
                 [creatorName]="c.creatorName"
                 [currentUserId]="currentUser"

                 (editChat)="editChat($event)"
                 (deleteChat)="deleteChat($event)"
                 (showChat)="showChat($event)"
  ></app-chat-item>
</div>
<div class="paginator">
  <pagination [boundaryLinks]="true"
              [totalItems]="count"
              [maxSize]="5"
              [itemsPerPage]="size"
              [(ngModel)]="page"
              [firstText]="'first' | translate"
              [previousText]="'previous' | translate"
              [nextText]="'next' | translate"
              [lastText]="'last' | translate"

              (pageChanged)="pageChanged($event)"
  ></pagination>
</div>
