body{
    margin: 0px;
    padding: 80px 0px 0px;
}
.content, .content_body{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    flex-direction: column;
}
.content_body{
  padding: 0px 0px;
}
@media screen and (max-width: 991px) {
    .content_body{
      padding: 0px 16px;
    }
}
.paginator{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}
.app_row{
  display: flex;
  flex-direction: row;
}
.app_column{
  display: flex;
  flex-direction: column;
}
.flex1{
  flex: 1;
}
.align_right{
  align-items: flex-end;
  justify-content: flex-end;
}
.label{
  font-size: 14px;
  padding: 2px 0px;
  color: #575757;
  display: flex;
  flex-direction: row;
  .title{
    width: 100px;
  }
  .desc{
    color: #3a3a3a;
    font-weight: 600;
  }
}
.margin10{
  margin-bottom: 10px;
}
